@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
 $font-stack:'Source Sans Pro',
sans-serif;
 $font-color-scoreboard:#FFF;
 $font-color-dashboard:#333;
 body {
    font-family: $font-stack;
    color: $font-color-scoreboard;
}
#container {
    width: 60%;
    margin: 130px auto 0 auto;
    #bg {
        position: fixed;
        top: -25px;
        left: -150px;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
}
.board-upper {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .teams {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .scores {
        font-size: 4em;
        font-weight: 700;
    }
}
.board-middle {
    width: 50%;
    margin: 30px auto 0 auto;
    font-size: 2em;
    .shots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .fouls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.board-bottom {
    width: 50%;
    margin: 50px auto 0 auto;
    h2 {
        padding: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5)
    }
    .updates {
        text-align: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 100px;
        padding: 1em;
        overflow-y: scroll;
        li {
            display: block;
			margin: 0 0 20px 0;
        }
        .updateTeam1 {
            text-align: left;
        }
        .updateTeam2 {
            text-align: right;
        }
    }
}
.dashboard {
    color: $font-color-dashboard;
    width: 80%;
    margin: 20px auto 0 auto;
    height: 600px;
    .title {
        font-size: 2.5em;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        margin: 0 0 20px 0;
    }
	#newGame{
		display: block;
		width: 250px;
		height: 30px;
		margin: 0 auto 30px auto;
	}
    .team-selection {
        border-top: 1px solid $font-color-dashboard;
        padding: 20px 0 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        select {
            width: 150px;
        }
    }
    .statistics {
        border-top: 1px solid $font-color-dashboard;
        border-bottom: 1px solid $font-color-dashboard;
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 20px 0 20px 0;
        div {
            padding: 20px 0 20px 0;
        }
        .scores {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .shots {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .fouls {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
	
	.updates{
		h3{
			text-transform: uppercase;
			margin-top: 5px;
		}
		form{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		input[type=text]{
			margin: 20px 0 0 0;
			width: 350px;
			font-size: 1em;
			
		}
	}

}